{{!-- imports partial template from post-info.handlebars --}}
{{> post-info post }}
{{!-- handlebars helper if checks if condition is true --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{!-- import partial template from comments.handlebars --}}
{{> comments post.comments}}

{{!-- handlebars helper if checks if condition is true --}}
{{#if loggedIn}}
{{!-- connect comment.js and upvote.js scripts --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

